/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kaushan Script', 'Neuton','Ledger','Fanwood-Text', 'Shrikhand','Adellove', 'Intro', 'Intro-Inline', 'Aller', sans-serif;
}

@font-face {
	font-family: 'Adellove';
	src: url("../fonts/Adellove.ttf")
}

@font-face {
	font-family: 'Intro';
	src: url("../fonts/Intro.otf");
}

@font-face {
	font-family: 'Intro-Inline';
	src: url("../fonts/Intro\ Inline.otf");
}

@font-face {
	font-family: 'Aller';
	src: url("../fonts/Aller_Std_Rg.ttf");
}


/* navbar */
body #navBrand {
	font-family: 'Adellove', sans-serif;
	/* color: #F69679; */
}

#navBrand {
	font-size: 35px;
	margin-left: 18px;
	color: #ff6666;
}

#navBrand__sm {
	font-size: 30px;
	margin-left: 18px;
	color: white;

}

.navbar__sm {
	background-color: #ff6666;
}

.nav-link {
	font-family: 'merriweather sans';
	color: white;
}

.fa-1x {
color: white;
}

/* navbar end */





/* home page */


/* carousel */
.carouselheymacarona {
	height: 100vh;
}

/* end carousel */

/* row 1 */

.header1 {
	font-size: 50px;
}

.paragraph1 {
	font-family: 'Aller';
}

/* end row 1 */


.text-left,
.text-right {
	font-family: 'Intro-Inline';
}

.about1 {
	background-color: #F4F4F4;
}

.h2_about {
	color: #ff6666;
	font-size: 60px;
}

/* #feat1,
.frame3 {
	padding: 50px;
} */

#feat-1-img {
	/* width: 100%%; */
	padding: 0;
}

.md8-padding {
	padding: 0;
}

.r1,
.r3 {
	background-color: #F4F4F4;
}

.card {
	border: none;
}

/* .container {
	max-width: 100%;
} */

.offset-md-1 {
/*	margin: 0;*/
}

.r3 {
	padding-top: 10px;
	padding-bottom: 20px;
}


.heymacarona-logo {
	height: 200px;
}

/* end homepage */

/* order page */

.macarona-form,
.form-group {
	font-family: 'Aller';
}

label,
p,
.custom-select,
small,
button {
	font-family: 'Aller';
}

/* end order page */


.macaronaland {
	background-color: #F69679;}

.landing1 {
	height: 100vh;
	background-color: #F69679;}
}
.landing2{
	height:60vh;
	background-color: antiquewhite;
}

.hero {
	background-color: wheat;
}

/* footer */

#f1,
#f2,
#f3,
#f4,
#f5 {
	font-family: 'Intro';
	color: #F69679;
}

#f6 {
	font-family: 'Aller';
	font-size: xx-small;
}


.fa {
	color: #d6ecfc;
}

.fab,
.fa-facebook,
.fa-twitter,
.fa-google,
.fa-linkedin-in,
.fa-instagram,
.fa-pinterest {
	color: #ff6666;
}


/* .page-footer,
.footer_btm {
	position: center, fixed;
		bottom: 10px;
} */
/* footer end */

/* START LANDING */

.landing-header {
	font-family: 'Kaushan Script', Cursive;
	font-size: 60pt;
	color:#ff6666;
	padding-bottom: 20px;
	
}
.p_about {
	font-family: 'merriweather sans';
	color:#1B1B1B;
	font-size: small;
	padding-left: 50px;
}

}

.landing-p {
	font-family: 'merriweather sans';
	color:#1B1B1B;
}

.btn_browse {
	font-family: 'merriweather sans';
	margin: 0;
}

.macarona-land-bg {
	background-image: url(../images/macarona-land-bg-3.png);
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
	padding-top: 20px;

}

land-img {
	padding: 50px;
}

/* .landing-bottom {
	background-color: white;

} */


/* #jumbo-land {
	height: 100vh;
	margin-bottom: 0;
	background-color: #333;
	border-radius: 0;
}

#jumbo-land h1,
#jumbo-land p {
	color : #f2f2f2;
}

#jumbo-land hr {
	background-color: #f2f2f2; */
}
/* END LANDING */


/* @media queries */
@media (min-width: 1200px) {
.container{
max-width: 970px;
}
}


.fa-circle {
	font-size: 0.3em;
	padding: 0.5em;	
}

.dot_center {
	margin-top: 5px;
	color: #ff6666;
}


/* START PRODUCT PAGE */

/* .macaron_product_row {
	background-color: #F4F4F4;
} */

.flavor {
	font-family: 'merriweather sans';
	font-size: small;
}

.macaron_flavour_row {
	font-family: 'merriweather sans';
	background-color: white;
	text-align: center;
}

.macaron_flavour {
	padding-top: 11px;
	padding-bottom: 11px;
	
}

.macaron_special {
	width: 100%;
}

#product_bg {
	height: 100vh;
	background-color: white;
}


#macaron_special {
	background-color:white;
	width: 100%;
	padding-top: 22px;
	padding-bottom: 22px;
	border-bottom: solid 10px	#eef8ff;
}

.box {
	border-bottom: tomato;
}

.page_bg {
	/* background-color: seashell; */
	padding-bottom: 30px;
	padding-top: 10px;
	border-radius: 10px;

}

#macaron_table {
	border-bottom: solid 10px	#eef8ff;
}

.table_top_left {
	border-top-left-radius: 50%;
}

/* END PRODUCT PAGE */

/* START ORDER PAGE */

.page_order,
#page_order {
	background-color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border-bottom: solid 10px	#d6ecfc;

}

.form_btn {
	color: #d6ecfc;
}

.btn_right {
	padding-right: 15px;
}

/* .btn_left {
	padding-right: 80%;
} */

.btn_left_2 {
	padding-right: 92%;
}

.page_order_none {
	background-color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 10px;
	padding-left: 50px;
	padding-right: 50px;

}

p. {
	font-family: 'merriweather sans';

	
}

.form_text {
	color: #ff6666;
	font-size: 12px;
}

.form_info {
	font-family: 'Kaushan Script', Cursive;
	font-size: larger;
	text-align: center;
}

.form_caption {
	font-family: 'Kaushan Script', Cursive;
	font-size: x-large;
	text-align: center;

}
/* END ORDER PAGE */



/* START GALLERY PAGE */
.gallery__frame {
	width: 300px;
	height: auto;
	align-content: center;
	padding-top: 30px;
}

.flavours__frame {
	width: 100;
	align-content: center;
	padding-top: 30px;
}

/* .flip-card-front {
	border-bottom: 5px solid #eef8ff;
} */

.flip__flavours {
	font-family: 'Kaushan Script', Cursive;
	font-size: large;
	text-align: center;
}


..container__frame {
	align-content: center;
}


.galery_hover {
	transition: 2s;
}
.gallery__hover:hover {
	scale: 1.05;
}

/* flip card */
.flip-card {
	background-color: transparent;
	width: 100%;
	height: 265.125px;
	margin-bottom: 8px;
}

.flip-card__flavours {
	background-color: transparent;
	width: 100%;
	height: 150px;
	margin-bottom: 8px;
}

/* to poistion front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }

  .flip-card__flavours:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back, .flip-card-back__flavours {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
	background-color: transparent;
	color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
	
	color: white;
	transform: rotateY(180deg);
	margin-top: 15px;
	margin-bottom: 15px;
  }

  .flip-card-back__flavours {
	
	color: white;
	transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back,
  .flip__discount {
	 display: flex;
	 justify-content: center;
	 align-items: center;
  }

  .flip-card-back__flavours,
  .flip__discount {
	 display: flex;
	 justify-content: center;
	 align-items: center;
  }

  .flip__color {
	background-color:#ff6666;
  }

.flip__color_1 {
background-color: #e0cdff;
 }

.flip__color_2 {
background-color: #bde8ef;
}

.flip__color_3 {
background-color: #ff6666;
}



/* LIGHTBOX */
.row__lightbox {
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px;
}

.column__lightbox {
	flex: 25%;
	max-width: 25%;
	padding: 0 10px;

}

.column__lightbox img {
	margin-top: 20px;
	vertical-align: middle;
	width: 100%;
	/* border-bottom: 10px solid #ff6666; */
	border-radius: 3px;

} 

@media screen and (max-width: 800px) {
	.column__lightbox {
	  flex: 50%;
	  max-width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.column__lightbox {
	  flex: 100%;
	  max-width: 100%;
	}
}


/* END GALLERY PAGE */


/* phone alignment */
/* INDEX */
.landing-header {
	text-align: center;
}

.landing-p {
	text-align: center;
}

.btn_browse {
	margin-left: 120px;
}

/* ABOUT */
.h2_about,
.p_about {
	text-align: center;
	padding: 0;
}

.macaron_table {
	margin-bottom: 50px;
	
}

#btn-submit {
	/* margin: 0; */
}

#submit_block {
	margin: 0;
}

.navbar__md {
	display: none;
}

.sm_hide {
	display: none;
}


/* MEDIA QUERIES */
												/* IPAD */

@media (min-width: 768px) {
.landing-header {
	text-align: center;
}

.landing-p {
	text-align: center;
	margin-left: 20px;
}

.btn_browse {
	margin-left: 80px;
}

.macaron_table {
	margin-bottom: 0px;	
}

.navbar__sm {
	display: none;
}

.navbar__md {
	display: flex;
}


/* ABOUT */
.h2_about {
	text-align: right;
	padding: 0;
	font-size: xx-large;

}

.p_about {
	text-align: right;
	padding: 0;
}

/* #feat1-img {
	max-width: 100%;
	height: auto;
} */

.img_thing {
	padding: 0;
}

.macaron_flavour {
padding-left: 20px;
}

#order_bg {
	margin-top: 50px;
}

/* .form_ipad {
	margin-top: 150px;
} */

.sm_hide {
	display: initial;
}

}

													/* LAPTOP */
@media (min-width:992px) {

.landing-header {
	text-align: left;
}

.landing-p {
	text-align: left;
	margin-left: 0;
}

.btn_browse {
	margin-left: 0;
}

.h2_about {
	text-align: right;
	padding: 0;
	font-size: 60PX;
}

.navbar__sm {
	display: none;
}

.navbar__md {
	display: flex;
}


/* ABOUT */
.p_about {
	text-align: right;
	padding: 0;
}

/* #feat1-img {
	max-width: 100%;
	height: auto;
} */

.img_thing {
	padding-left: 50px;
}

.macaron_product_row {
	margin-top: 50px;
}

.flavour__label {
	display: none;
}


}


#macaron_table {
	border: 0;
	border-bottom: solid 10px	#eef8ff;
}


.footer_padding {
	padding: 0;
}

.no_padding {
	padding: 0;
}

